
header {
  display: flex;
  justify-content: center;
  margin: 20px auto;

  & .header {
    margin-top: 10px;
    background-color: white;
    background-size: cover;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    padding: 5px;
    & h1 {
      color: var(--black-text-color)
    }
  }

  & h1 {
    margin: 0 auto;
  }
}

main {
  & section {
    height: 90vh;
    margin: 5vh 10vw;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    animation: appear 0.5s;
    align-items: center;

    & article {
        width: 100px;
        height: 100px;
      display: flex;
      flex-direction: column;
      background-size: cover;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.2);
      transition: transform 0.2s;
      animation: appear 0.5s;

      & img {
        width: 100%;
        height: auto;
      }

      & h2 {
        color: black;
        min-width: 200px;
        width: fit-content;
        text-align: center;
        margin-bottom: 0;
        margin-top: 80%;
        background-color: white;
        border-radius: 20px;
      }

      & .lvl-index {
        border-radius: 10px;
        font-weight: 500;
      }

      & span {
        /* Smooth opacity transition */
        margin-top: 20%;
        transition: opacity 0.2s;
        width: 100px;
        height: 30px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        animation: fade-appear 0.5s;
      }

    }

    .not-completed {
      filter: grayscale(100%) blur(2px);
    }

    & article:hover {
      transform: translateX(20px) scale(1.05);
      opacity: 100%;
    }

    .completed {
      border: 5px solid  rgb(0, 255, 128);

      & h2 {
        color: rgb(0, 255, 128);
      }

      & span {
        background-color: rgb(0, 255, 128);
      }
    }

    .current {
      border: 5px solid white;

       & h2 {
        color: #f6d365;
       }
    }

    .easy-lvl {
      /* add a linear gradient with the --easy-level-color */
      background-color: var(--easy-level-color);
      background-image: var(--easy-lvl-background-img);
      & .lvl-index {
        background-color: var(--easy-level-color);
      }
      & span {
        & h3 {
          color: var(--easy-level-color);
        }
      }
    }

    .medium-lvl {
      background-color: var(--medium-level-color);
      background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
      & .lvl-index {
        background-color: var(--medium-level-color);
      }
      & span {
        & h3 {
          color: var(--medium-level-color);
        }
      }
    }

    .hard-lvl {
      background: linear-gradient(120deg, var(--hard-level-color) 0%, #e277c4 100%);
      & .lvl-index {
        background-color: var(--hard-level-color);
      }
      & span {
        & h3 {
          color: var(--hard-level-color);
        }
      }
    }
  
  }

}