@keyframes fade-appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }

}
  
@keyframes appear {
    0% {
    opacity: 0%;
    margin-top: -20px;
    }

    100% {
    opacity: 100%;
    margin-top: 0;
    }
}

@keyframes level-unlocked {
    0% {
        transform: translateX(0) scale(1)
    }

    50% {
        transform: translateX(5px) scale(1.1);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}

@keyframes level-movement {
    0% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}