.congratulations {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: appear 1s linear;

    & .congrats-txt span{
        color: #FFD700;
        font-size: 2rem;
        display: inline-block;
        animation: bounce 1s infinite;
    }

    & .robot-logo {
        width: 100px;
        height: auto;
    }

    & .stats {
        width: 80%;
        height: fit-content;
        background-color: var(--background-color2);
        border-radius: 20px;
        padding: 30px;

        & p {
            color: var(--text-color);
            font-size: 1.2rem;
            margin: 0;
            background-color: var(--background-color3);
            margin-top: 10px;
            border-radius: 10px;
            padding: 10px;
        }
    }

    & .level-reset button {
        background-color: transparent;
        margin: 5vh auto;
        color: white;
        height: fit-content;
        width: 90vw;
        font-weight: bold;
        font-family: "Poppins";
        font-size: x-large;
        border: 2px solid #FFD700;
        border-radius: 10px;
        transition: 0.5s;
    }

    & .level-reset button:hover {
        color: #FFD700
    }
}